langchain
langchain-core
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
sentence-transformers==5.1.0
streamlit==1.49.1
grandalf==0.8 # to visualize the chains
langchain_community==0.3.29
pypdf==6.1.0
bs4==0.0.2 # beautiful soup
langchain_experimental==0.3.4